<div class="container-fluid">
    <div class="row">
        <form name="myForm" action="index.html" method="post">
            <label for="singleSelect"> Single select: </label><br>
            <select name="singleSelect"
                ng-model="$ctrl.select"
                ng-options="POI.name for POI in $ctrl.POI">
                <option value="all">All</option>
            </select><br>
        </form>
    </div>
    <div class="row">
        <ul>
            <li ng-repeat="POIs in $ctrl.POI | filter:$ctrl.select">
                <a href="#!/poi/{{POIs.id}}">{{POIs.name}}</a>
                <p>{{POIs.snippet}}</p>
            </li>
        </ul>
    </div>
</div>
